body
{
    background-color:#cff09e;
}
h1
{
    color:#3b8686;
    text-align:center;
}
h2
{
    color:#3b8686;
    text-align:center;
}
p
{
    color:#79bd9a;
    text-align:center;
}